<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name), class: "btn btn-outline-success btn-sm rounded-pill mt-2 text-center" do %><br />
    <p>アカウントをお持ちの方</p>
  <% end %>
<% end %>

