<div class="container">
  <div class="row">
    <div class="col-2">
        <%= render 'public/users/info' %>
    </div>

    <div class="col-6">
      <h2>フォロワー 一覧</h2>
      <div class="jscroll">

        <% if @users.exists? %>
          <%= render "public/users/index", users: @users %>
        <% else %>
          <p>フォロワーはいません</p>
        <% end %>

        <%= paginate @users %>

      </div><!--jscroll-->
    </div><!--col-6-->

    <div class="col-4">
      <%= render 'public/posts/user_post_index', posts: @posts %>
    </div><!--col-4-->
  </div><!--row-->
</div><!--container-->
