<% if @model == 'user' %>
    <h3>キーワード"<%= @word %>" の検索結果 </h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' %>
    <h3>キーワード"<%= @word %>" の検索結果</h3>
  <%= render 'public/posts/index', posts: @records %>
<% end %>