<div class="container">
  <div class="row mx-auto">
    <div class="mx-auto round-circle">
        <img src="/assets/logo.jpg" width="350" height="350" alt="">
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <strong>仲間とともに忘れ物０へ</strong>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">

        <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary" %>

      <div class="button">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <div class="button">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
      </div>
    </div>
  </div>
</div>