
<h1>Topページ</h1>


<% @timeline.each do |post| %>
  <div>
    <%= image_tag post.user.get_profile_image(100,100) %>

    <div>
      <%= post.user.name %>
    </div>

    <div>
      <%= post.title %>
    </div>
  <div>

  <% post.lists.each do |list| %>
    <%= list.content %>
  <% end %>
<% end %>